$white: #fff;
$grey-10: #f9f9f9;
$grey-20: #f5f5f5;
$grey-30: #dfe1e3;
$grey-40: #cdcfd1;
$grey-50: #b8bbbe;
$grey-60: #94999e;
$grey-70: #686868;
$black: #000;

$red: #b20000;
$red-1: #f44336;

$green: #9ad85c;

$blue-1: #2196f3;
$blue-2: #51a8f0;

$orange-1: #c05600;
$orange-2: #dc7000;
$orange-3: #e87c00;
$orange-4: #dc7800;

$yellow-1: #f8cb00;

$success: #add685;
$warning: #f8bb40;
$error: #db4141;

$container-background: rgba(0, 0, 0, 0.5);

$shadow-1: rgb(255 255 255 / 30%);
$shadow-2: rgb(0 0 0 / 40%);
