$page-height: 100vh;
@mixin page() {
  height: $page-height;
  overflow: hidden;
}

@mixin flexbox($align: flex-start, $justify: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin input-mouse {
  @media (pointer: fine) {
    @content;
  }
}

$borderWidth: 2px;
@mixin buttonFocus() {
  background: inherit;
  color: inherit;
  border: $borderWidth solid $warning !important;
}

// Buttons
$Animation-speed: 0.5s;
@mixin accessibilityFlash() {
  animation: accessibilityFlash ($Animation-speed * 2) 1;
  animation-fill-mode: forwards;
  position: absolute;
  background: $white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin blur($radius: 0px) {
  -webkit-filter: blur($radius);
  -moz-filter: blur($radius);
  -o-filter: blur($radius);
  -ms-filter: blur($radius);
  filter: blur($radius);
}

@mixin animation($name, $duration, $timing: false, $fill: false, $count: false) {
  animation-name: $name;
  -o-animation-name: $name;
  -moz-animation-name: $name;
  -webkit-animation-name: $name;

  animation-duration: $duration;
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;

  @if $timing {
    animation-timing-function: $timing;
    -o-animation-timing-function: $timing;
    -moz-animation-timing-function: $timing;
    -webkit-animation-timing-function: $timing;
  }

  @if $fill {
    animation-fill-mode: $fill;
    -o-animation-fill-mode: $fill;
    -moz-animation-fill-mode: $fill;
    -webkit-animation-fill-mode: $fill;
  }

  @if $count {
    animation-iteration-count: $count;
    -o-animation-iteration-count: $count;
    -moz-animation-iteration-count: $count;
    -webkit-animation-iteration-count: $count;
  }
}

@keyframes coinIntro {
  from {
    transform: rotateX(0) scale(0);
  }
  to {
    transform: rotateX(1800deg) scale(1);
  }
}

@keyframes flipHeads {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1800deg);
  }
}

@keyframes flipTails {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1980deg);
  }
}

@keyframes fadeInMoveUp {
  from {
    opacity: 0;
    top: 100%;
  }
  to {
    opacity: 1;
    top: 25%;
  }
}

@keyframes fadeOutMoveUp {
  from {
    opacity: 1;
    top: 25%;
  }
  to {
    opacity: 0;
    top: 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bubbles {
  0% {
    visibility: visible;
    transform: scale(0);
    top: 100%;
  }
  15% {
    transform: scale(1);
    top: 100%;
  }
  100% {
    top: -100%;
    transform: translateY(-10%);
  }
}
