@import 'variables.scss';

:host {
  -webkit-appearance: none !important;
  appearance: none !important;
}

.cc-button {
  display: contents;

  a,
  button {
    @extend %buttonReset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    line-height: 1rem;

    &.button--disabled {
      opacity: 0.75;
      filter: contrast(0.75);
      cursor: default;
    }

    /* ---------------------
    Hover (desktop/mouse only)
    --------------------- */
    @include input-mouse() {
      &:hover {
        filter: brightness(0.4);
      }
    }

    /* ---------------------
    Focus
    --------------------- */
    &:focus-visible {
      position: relative;
      outline: none;
      @include buttonFocus();

      &:before {
        content: '';
        @include accessibilityFlash();
      }
    }
  }

  /* ---------------------
    Style
    --------------------- */
  &--style {
    &-primary {
      border: none;
      cursor: pointer;
      background-color: $black;
      color: $white;
      mix-blend-mode: darken;
    }
  }

  /* ---------------------
    Size
    --------------------- */
  &--size {
    &-small {
      padding: $space-s $space-m;
      border-radius: 14px;
      @include font-body-2();
    }
    &-medium {
      padding: $space-sm $space-m;
      border-radius: 16px;
      @include font-body-3();
    }
    &-large {
      padding: $space-m;
      border-radius: 20px;
      @include font-body-4();
    }
    &-xlarge {
      padding: $space $space-m;
      border-radius: 24px;
      @include font-body-6();
    }
  }
}
