@import 'variables.scss';

.cc-bubbles {
  &__background {
    & > div {
      position: absolute;
      background-color: $white;
      border-radius: 100%;
      opacity: 0.5;
      visibility: hidden;
      @include blur(1px);
      @include animation(bubbles, 7s, false, false, infinite);
      z-index: 1;
    }
  }
}
