@import 'variables.scss';

$start-background: linear-gradient(
  to right,
  $orange-1 0%,
  $orange-2 21%,
  $orange-3 51%,
  $orange-3 81%,
  $orange-4 100%
);
$start-width: 100%;
$start-height: 100vh;
$start-container-width: 100%;
$start-container-z-index: 999;
$start-text-height: 197px;
$start-img-max-width: 100%;
$start-cta-animation-delay: 3s;
$start-cta-top: 55%;

.cc-start {
  position: relative;
  background: $start-background;
  width: $start-width;
  height: $start-height;
  overflow: hidden;

  &--bye {
    animation: fadeOutMoveUp 2s forwards !important;
  }

  &__container,
  &__cta {
    position: absolute;
    margin: 0 auto;
    width: $start-container-width;
    z-index: $start-container-z-index;
  }

  &__container {
    @include animation(fadeInMoveUp, 3s, false, forwards);
  }

  &__logo {
    @include flexbox(center, center);
    position: relative;

    &-text {
      @include flexbox();
      height: $start-text-height;
    }

    img {
      max-width: $start-img-max-width;
    }
  }

  &__cta {
    @include flexbox(flex-start, center);
    @include animation(fadeIn, 1s, false, forwards);
    animation-delay: $start-cta-animation-delay;
    opacity: 0;
    top: $start-cta-top;
  }
}
