@import 'variables.scss';

@keyframes bubbles {
  0% {
    visibility: visible;
    transform: scale(0);
    top: 100%;
  }
  15% {
    transform: scale(1);
    top: 100%;
  }
  100% {
    top: -100%;
    transform: translateY(-10%);
  }
}

.cc-start {
  position: relative;
  background: linear-gradient(
    to right,
    $orange-1 0%,
    $orange-2 21%,
    $orange-3 51%,
    $orange-3 81%,
    $orange-4 100%
  );
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__container,
  &__cta {
    position: absolute;
    top: 25%;
    margin: 0 auto;
    width: 100%;
    z-index: 999;
  }

  &__logo {
    @include flexbox(center, center);
    position: relative;

    &-text {
      @include flexbox();
      height: 197px;
    }

    img {
      max-width: 100%;
    }
  }

  &__cta {
    @include flexbox(flex-start, center);
    top: 55%;
  }

  &__background {
    & > div {
      position: absolute;
      background-color: $white;
      border-radius: 100%;
      opacity: 0.5;
      visibility: hidden;
      @include blur(1px);
      @include animation(bubbles, 7s infinite);
      z-index: 1;
    }
  }
}
