@import 'variables.scss';

$teams-height: 100vh;
$teams-container-height: 100%;
$teams-content-max-width: 500px;
$teams-content-width: 100%;
$teams-content-min-width: 256px;
$teams-coin-height: 100px;
$teams-coin-width: 100px;
$teams-coin-sides-height: 100%;
$teams-coin-sides-width: 100%;
$teams-coin-radius: 50%;
$teams-coin-border-width: 10px;
$teams-heads-z-index: 100;
$teams-buttons-bottom: 0;
$teams-buttons-z-index: 999;

.cc-choose-teams {
  @include page();
  background-color: $blue-2;

  &__container {
    @include flexbox(center, center);
    height: $teams-container-height;
  }

  &__contents {
    @include flexbox(center);
    flex-direction: column;
    position: relative;
    background-color: $container-background;
    padding: $space $space-m;
    max-width: $teams-content-max-width;
    width: $teams-content-width;
    min-height: $teams-content-min-width;
  }

  &__header {
    @include font-body-4();
    color: $white;
    margin-bottom: $space-sm;
    text-transform: capitalize;
  }

  &__animation {
    position: relative;
    padding: $space-sm 0 $space;

    .coin {
      @include flexbox(center, center);
      position: relative;
      margin: 0 auto;
      width: $teams-coin-height;
      height: $teams-coin-width;
      transition: -webkit-transform 1s ease-in;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;

      & > * {
        @include font-body-4(bold);
        color: $grey-70;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $teams-coin-sides-width;
        height: $teams-coin-sides-height;
        border-radius: $teams-coin-radius;
        border: $teams-coin-border-width dashed $grey-50;
        background-color: $grey-40;

        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
      }

      &--intro {
        @include animation(coinIntro, 2s, ease-out, forwards);
      }

      &--animate {
        &-heads {
          @include animation(flipHeads, 3s, ease-out, forwards);
        }

        &-tails {
          @include animation(flipTails, 3s, ease-out, forwards);
        }
      }

      &__heads {
        z-index: $teams-heads-z-index;
      }

      &__tails {
        transform: rotateY(-180deg);
      }
    }
  }

  &__button-group {
    position: absolute;
    bottom: $teams-buttons-bottom;
    display: flex;
    margin: $space 0;
    z-index: $teams-buttons-z-index;

    cc-button {
      position: relative;
      display: block;
      padding: 0 $space-sm;
    }
  }

  &__message {
    @include font-body-3();
    color: $white;
    text-align: center;
    margin-bottom: $space-sm;
  }
}
