@import 'variables.scss';

.cc-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid $black;
  background-color: $black;

  &__label {
    color: $white;
    margin: $space-s auto;
  }
}
