@import 'variables.scss';

@import './includes/fonts';

body {
  background: $black;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

cc-root,
router-outlet {
  display: block;
}
