@import 'variables.scss';

.cc-teams {
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;

  &--default {
    &-one {
      width: 100%;
      background-color: $red-1;
    }

    &-two {
      width: 100%;
      background-color: $blue-1;
    }
  }

  &__selection {
    transition: background-color 1000 linear;
  }

  &__container {
    @include flexbox(center, center);
    max-width: 500px;
    width: 100%;
    height: 100%;
    margin: auto;

    cc-team-form {
      width: 100%;
    }
  }

  &--hidden {
    display: none;
  }
}
